@model IEnumerable<WebAppExercicioPratico03_Lab2_2017_2.Models.Estudante>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Endereco.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstusanteNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDeNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Altura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelEnsinoId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstusanteNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDeNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Foto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Altura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NivelEnsinoId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EstundateId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EstundateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EstundateId })
        </td>
    </tr>
}

</table>
